#nav_bottom {
	padding-left: 0px;
	width: 572px;
	padding-right: 0px;
}

#nav_bottom ul {
	padding-left: 0px;
}

#nav_top {
	width: 359px;
	padding-right: 0px;
}

#main_cta {
	height: 241px;
}

#new_jersey_premier {
	margin-left: 52px;
}

#start_saving_now1 {
  	margin-left: 325px;
	padding-top: 24px;
}
#testimonial_content {
  	padding-top: 80px;
}

#fusce_dapibus {
  	padding-left: 0;
  	padding-right: 0;
}

#quotes {
	height: 1238px;
}

#height_clients {
	margin-top: 75px;
}

#clients_top {
	padding-top: 0px;
}

#shape1 {
	padding-top: 390px;
 	padding-left: 132px;
}

#client1 {
	padding-top: 298px;
	padding-left: 167px;
}

#shape2 {
	padding-top: 631px;
	padding-left: 258px;
}

#client2 {
	padding-top: 534px;
	padding-left: 630px;
}

#shape3 {
 	padding-top: 866px;
 	padding-left: 132px;
}

#client3 {
	padding-top: 763px;
 	padding-left: 197px;
}

#shape4 {
	padding-top: 1100px;
 	padding-left: 258px;
}

#client4 {
	padding-top: 976px;
 	padding-left: 615px;
}

#prefooter {
	background-position:  375px 80px;
}

#start_saving_now2 {
	margin-left: 339px;
}

#header2 {
	background-position: 436px 132px;
}

#content_left {
	padding-top: 105px;
}

#content_right {
	padding-top: 105px;
}

#name {
	width: 436px;
}

#email {
	width: 436px;
}

#message {
	width: 436px;
}

#get_in_touch {
	width: 436px;
}

#content_left_bottom_right {
	width: 200;
}

#header6 {
	background-position: 600px 132px;
}

#fee_schedule_col {
	padding-top: 52px;
}

#procedure_title {
	padding-left: 155px;
}

#region_basic {
	background-position: 45px 16px;
	margin-right: 18px;
}

.city {
	margin-right: 18px;
}

#exp_payment {
	margin-right: 18px;
}

#single_payment_list {
	background-position: 404px 18px;
}

#print_this_payment {
	margin-right: 35px;
	background-position: 110px 10px;
}

#content6 {
	background-position: -297px -56px, 0 0;
}

